<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exercise</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/exercises">exercises</a>
        <a href="/users" th:if="${username}">users</a>
    </nav>

    <div>
        <h5 th:text="${exercise.name}"></h5>
        <p th:text="${exercise.description}">Description unavailable</p>
        <p><b>Targets:</b></p>
        <ul>
            <li th:each="target:${exercise.targets}">
                <span th:text="${target}"></span>
            </li>
        </ul>
        <form th:if="${username}" th:action="@{/exercises/{exerciseName}(exerciseName=${exercise.name})}" method="post">
            <h6>Description:</h6>
            <input type="text" name="description" th:value="${exercise.description}">
            <h6>Target(s):</h6>
            <input type="text" name="targets" placeholder="ex. 'Latissimus dorsi, biceps brachii'"> <br/>
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>