<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/exercises">exercises</a>
        <a href="/users" th:if="${username}">users</a>
    </nav>

    <div th:if="${username}">
        User '
        <span th:text="${username}"></span>
        ' created
    </div>
    <div th:if="${duplicateUser}">
        User '
        <span th:text="${duplicateUser}"></span>
        ' already exists
    </div>

    <div class="forms">
        <form action="/login" method="post" class="user_form">
            <h3>Login</h3>
            Username
            <input type="text" name="username" placeholder="username" required>
            Password
            <input type="password" name="password" placeholder="password" required>
            <input type="submit" value="Login">
        </form>

        <form action="/users" method="post" class="user_form">
            <h3>Register</h3>
            Username
            <input type="text" name="username" placeholder="username" required>
            Password
            <input type="password" name="password" placeholder="password" required>
            <input type="submit" value="Register" >
        </form>
    </div>
</body>
</html>