<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sets</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/me.css">
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/exercises">exercises</a>
        <a href="/users" th:if="${username}">users</a>
    </nav>

    <div class="exercises">
        <div th:each="set:${sets}" class="exercise">
            <p th:text="${set.exercise.name}"></p>
            reps:
            <span th:text="${set.reps}"></span>
        </div>
    </div>
</body>
</html>