<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/users.css">
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="/exercises">exercises</a>
        <a href="/users" th:if="${username}">users</a>
    </nav>

    <div class="users">
        <div th:each="user:${users}" class="user">
            <a th:text="${user.username}" th:href="@{/users/{username}(username=${user.username})}"></a> <br/>
            <div th:if="${user.sets.size()} > 0">
                Last set:<br/>
                <span th:text="${user.sets[0].exercise.name}"></span> <br/>
                reps:
                <span th:text="${user.sets[0].reps}"></span>
            </div>
        </div>
    </div>
</body>
</html>